@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@theme {
  --color-background: #0C0B2B;
  --color-text: #FFFFFF;
  --color-primary: #FF4D9D;
  --color-secondary: #9F3CFF;
  --color-accent: #00D1FF;
  --color-muted-text: #C5C5C5;
  --color-border: #7B00FF;
  --color-background-soft: #1A133B;
  --color-hover-primary: #FF67AC;
  --color-hover-accent: #24F3FF;
  --color-shadow: #4A00A8;
  --color-glow-overlay: #6127FF88;

  --font-space: "Space Grotesk";
  --font-audiowide: "Audiowide";
}



body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1A1E4F 0%, #0C0B2B 85%);
  background-attachment: fixed;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(3px, -3px);
  }

  50% {
    transform: translate(-3px, 3px);
  }

  75% {
    transform: translate(3px, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-floating {
  animation: floating 2s ease-in-out infinite;
}