@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@theme {
  --color-background: #0C0B2B;
  --color-text: #FFFFFF;
  --color-primary: #FF4D9D;
  --color-secondary: #9F3CFF;
  --color-accent: #00D1FF;
  --color-muted-text: #C5C5C5;
  --color-border: #7B00FF;
  --color-background-soft: #1A133B;
  --color-hover-primary: #FF67AC;
  --color-hover-accent: #24F3FF;
  --color-shadow: #4A00A8;
  --color-glow-overlay: #6127FF88;

  --font-space: "Space Grotesk";
  --font-audiowide: "Audiowide";
}

body {
  /* background-image: radial-gradient(circle at 28% 93%, rgba(2, 2, 2, 0.04) 0%, rgba(2, 2, 2, 0.04) 50%, rgba(223, 223, 223, 0.04) 50%, rgba(223, 223, 223, 0.04) 100%), radial-gradient(circle at 13% 75%, rgba(185, 185, 185, 0.04) 0%, rgba(185, 185, 185, 0.04) 50%, rgba(25, 25, 25, 0.04) 50%, rgba(25, 25, 25, 0.04) 100%), radial-gradient(circle at 79% 39%, rgba(34, 34, 34, 0.04) 0%, rgba(34, 34, 34, 0.04) 50%, rgba(57, 57, 57, 0.04) 50%, rgba(57, 57, 57, 0.04) 100%), linear-gradient(56deg, rgb(12, 11, 43), rgb(12, 11, 43)); */
  background: linear-gradient(to right, #1A1E4F 0%, #0C0B2B 85%);
}